# Node
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java
target/
*.class
*.jar
*.war
*.ear
.mvn/
.metadata/
.project
.classpath
.factorypath
.settings/
*.log
bin/

# IDEs
.vscode/
.idea/
*.iml
.DS_Store

# Env
.env
deployment_info.txt
client_secret_*.json


/node_modules